@charset "UTF-8";
.img-rogo {
  max-width: 200px;
  width: 50%;
  min-width: 150px; 
  height: auto; 
}
.ueno{
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;  
}
.a{
  padding: 10px 10px 0px 10px;
  border-bottom: 2px solid #000;
  width: 100%;                 
  display: block;              
  box-sizing: border-box;      
  font-size:200%;
}

.gazounoyoko {
     width: 49%;
  height: auto; 
  display: flex;
  flex-direction: column;
  flex: 1;            
  min-width: 200px; 
}

h1, h4 {
  margin: 0;
}
.mein{background-color: #ffffff;}

ul{
    list-style:none ;
    margin:0 ;
    padding:0 ;
     margin-bottom: 1px; 
     overflow:hidden;
}

li{
    float:left;
    width:24.6%;
    background-color: darkgray;
    margin:0 0.2% 0;
    text-align:center;
     
    
}
li a {
      display:block;
      color:#fffafa;
      text-decoration:none;
      line-height:2em
}
li a:hover{
           background: #000000;
}
.img-colaju{
        max-width: 100%;
        height: auto;
        margin-top: 2px;
}
footer {background-color: darkgray;
        text-align: center;
        font-size:200%;
        line-height:200%;}
